<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-title>
      Fotosgram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- POSTS -->
  <app-posts [posts]="posts"></app-posts>


  <!-- Infinite Scroll -->
  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
